h1 {
	text-align: center;
}

form {
	display: inline-block;
	margin-bottom: 1rem;
}

#message {
	width: 94%;
	margin-left: auto;
	margin-right: auto;
}

.bordered {
	width: 94%;
}

.hidden {
	display: none;
}

.shown {
	display: inline-block;
}
