body {
	height: 100%;
}

#map {
	height: 100%;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 24px;
}

header a {
	font-size: 60px;
	color: blue;
}

header div {
	color: red;
}

.bottomText {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	margin: 0;
}

.bottomText button {
	font-size: 80px;
	position: relative;
	bottom: 2.5rem;
	left: 0;
	right: 0;
	margin: 0;
}

