Content-type: text/html

<!DOCTYPE html>
<html>
  <head>
    [% INCLUDE head.tt %]
    <link href="styles/profile_screen.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="text medium">

    <div class="topText centered text large">
      <a href="logout.cgi">Logout</a>
      <a href="map_screen.cgi">Map</a>
    </div>

  </body>

  <footer>
    [% INCLUDE footer.tt %]
  </footer>
</html>
