Content-type: text/html

<!DOCTYPE html>
<html>
  <head>
    [% INCLUDE head.tt %]
    <link href="styles/register_screen.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="centered text medium">

    [% IF result %]
      <p>Registration was a success!</p>
    [% ELSE %]
      <p>Registration failed!</p>
    [% END %]
    <a href="index.cgi">Return to the main page</a>
  </body>

  <footer>
    [% INCLUDE footer.tt %]
  </footer>
</html>
